body {
  margin: 0;
  font-family: 'Lexend'
}

code {
  font-family: 'Lexend';}

.text{
  background: linear-gradient(89.81deg, #E07614 36.91%, #FFC926 99.91%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.bg{
  background:  linear-gradient(93.36deg, #E07614 -20.74%, #FEC625 128.78%);
}
.fade{
  color:'#fff !important'
}

.borderColor{
  border-color: rgba(254, 198, 37, 0.7) !important;
}
.bgColor{

  border: 1px solid  ;
  border-color: rgba(254, 198, 37, 0.7) !important;

  /* border-image-source:  linear-gradient(93.36deg, #E07614 -20.74%, #FEC625 128.78%); */
}
.list{
  
font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 167.5%;
color: #4D4D4D;
/* or 34px */
}

.listActive{
  font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 167.5%;
/* or 34px */


color: #FFFFFF;
}