body {
  margin: 0;
  font-family: 'Lexend'
}

code {
  font-family: 'Lexend';}

.text{
  background: linear-gradient(89.81deg, #E07614 36.91%, #FFC926 99.91%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.bg{
  background:  linear-gradient(93.36deg, #E07614 -20.74%, #FEC625 128.78%);
}
.fade{
  color:'#fff !important'
}
.bgColor{

  border: 1px solid  #E07614;
  /* border-image-source:  linear-gradient(93.36deg, #E07614 -20.74%, #FEC625 128.78%); */
}